figcaption {

font-size: 0.9rem;

color: #d0d0d0;

font-style: italic;

text-align: center;

}

video,
img {

border-radius: 8px;

}

body{background:#050816;color:white;font-family:Arial} a{color:#38bdf8} .navbar{margin-bottom:20px}
