figcaption {

font-size: 0.9rem;

color: #d0d0d0;

font-style: italic;

text-align: center;

}

.about-text {
    text-align: justify;
}

video,
img {

border-radius: 8px;

}
.profile-photo{width:280px;max-width:80%;}
body{background:#050816;color:white;}
